@section scripts {
    <script type="text/javascript">
        $(function(){
            var db = fruit.databind.root;
                    var data = @MvcHtmlString.Create(JsonExtension.ToJson(Model));
                    db.loadData(data);
            $.extend(db.options, {
                searchClick: function(){
                    var form = db.getData('serach');
                    db.invoke('setLoadParams', form);
                },
                clearClick: function(){
                    db.clearData('serach');
                    db.invoke('setLoadParams', {});
                }
                , onInit: function(){
                    db.loadData(data);
                }
            });
        });

    </script>
}

<div class="z-toolbar">

    <a class="easyui-linkbutton" iconcls="icon-arrow_refresh" plain="true" data-bind="click:'refresh'">刷新</a>
    <a class="easyui-splitbutton" plain="true" data-options="iconCls:'icon-download'" suffix="xls" data-bind="click:'download'">导出</a>
    <div class="condition_buttons">
        <a class="easyui-linkbutton" data-bind="click:'searchClick'" data-options="iconCls:'icon-search', plain:true" href="#">搜索</a>
        <a class="easyui-linkbutton" data-bind="click:'clearClick'" data-options="iconCls:'icon-clear', plain:true" href="#">清空</a>
    </div>
</div>
<div id="condition" class="container_12" style="position:relative;height:120px">
    <div class="grid_1 lbl">省份</div>
    <div class="grid_2 val"><input data-bind="value:'serach.省份'" type="text" class="z-txt" /></div>
    <div class="grid_1 lbl">城市</div>
    <div class="grid_2 val"><input data-bind="value:'serach.城市'" type="text" class="z-txt" /></div>
    <div class="grid_1 lbl">经销商编号</div>
    <div class="grid_2 val"><input data-bind="value:'serach.经销商编号'" type="text" class="z-txt" /></div>
    <div class="clear"></div>
    <div class="grid_1 lbl">经销商名称</div>
    <div class="grid_2 val"><input data-bind="value:'serach.经销商名称'" type="text" class="z-txt" /></div>
    <div class="grid_1 lbl">活动编号</div>
    <div class="grid_2 val"><input data-bind="value:'serach.活动编号'" type="text" class="z-txt" /></div>
    <div class="grid_1 lbl">活动名称</div>
    <div class="grid_2 val"><input data-bind="value:'serach.活动名称'" type="text" class="z-txt" /></div>
    <div class="clear"></div>
    <div class="grid_1 lbl">巡店时间</div>
    <div class="grid_2 val"><input data-bind="value:'serach.巡店时间'" type="text" class="z-txt easyui-daterange" /></div>
    <div class="grid_1 lbl">照片类型</div>
    <div class="grid_2 val"><input data-bind="value:'serach.照片类型', datasource:'dataSource.照片类型'" type="text" class="z-txt easyui-combobox" /></div>
    <div class="grid_1 lbl">经销商审核结果</div>
    <div class="grid_2 val"><input data-bind="value:'serach.经销商审核结果', datasource:'dataSource.经销商审核结果'" type="text" class="z-txt easyui-combobox" /></div>
    <div class="clear"></div>
    <div class="grid_1 lbl">总部巡店时间</div>
    <div class="grid_2 val"><input data-bind="value:'serach.总部巡店时间'" type="text" class="z-txt easyui-daterange" /></div>
    <div class="grid_1 lbl">总部照片类型</div>
    <div class="grid_2 val"><input data-bind="value:'serach.总部照片类型', datasource:'dataSource.总部照片类型'" type="text" class="z-txt easyui-combobox" /></div>
    <div class="grid_1 lbl">审核结果</div>
    <div class="grid_2 val"><input data-bind="value:'serach.审核结果', datasource:'dataSource.审核结果'" type="text" class="z-txt easyui-combobox" /></div>
    <div class="clear"></div>
    <div class="clear"></div>
</div>
<table id="grid" data-bind="datagrid" data-options="fixSize:{w:4, h:160}, rownumbers:true, method:'get', url:'/api/mms/hdpzcx', pagination:true, pageSize:20, holdTotal:true">
<thead>
<tr>
<th field="省份" data-options="">省份</th>
<th field="城市" data-options="">城市</th>
<th field="经销商编号" data-options="">经销商编号</th>
<th field="经销商名称" data-options="">经销商名称</th>
<th field="终端编号" data-options="">终端编号</th>
<th field="终端名称" data-options="">终端名称</th>
<th field="活动编号" data-options="">活动编号</th>
<th field="活动名称" data-options="">活动名称</th>
<th field="经销商填报人" data-options="">经销商填报人</th>
<th field="巡店时间" data-options="">巡店时间</th>
<th field="照片类型" data-options="">照片类型</th>
<th field="照片" data-options="formatter:fruit.formatter.File">照片</th>
<th field="备注" data-options="">备注</th>
<th field="经销商审核结果" data-options="">经销商审核结果</th>
<th field="总部填报人" data-options="">总部填报人</th>
<th field="总部巡店时间" data-options="">总部巡店时间</th>
<th field="总部照片类型" data-options="">总部照片类型</th>
<th field="总部照片" data-options="formatter:fruit.formatter.File">总部照片</th>
<th field="总部备注" data-options="">总部备注</th>
<th field="审核结果" data-options="">审核结果</th>
</tr>
</thead>
</table>
