@section scripts {
    <script type="text/javascript">
        $(function(){
            var db = fruit.databind.root;
                    var data = @MvcHtmlString.Create(JsonExtension.ToJson(Model));
                    db.loadData(data);
            $.extend(db.options, {
                searchClick: function(){
                    var form = db.getData('serach');
                    db.invoke('setLoadParams', form);
                },
                clearClick: function(){
                    db.clearData('serach');
                    db.invoke('setLoadParams', {});
                }
                , onInit: function(){
                    db.loadData(data);
                }
            });
        });

    </script>
}

<div class="z-toolbar">

    <a class="easyui-linkbutton" iconcls="icon-arrow_refresh" plain="true" data-bind="click:'refresh'">刷新</a>
    <a class="easyui-splitbutton" plain="true" data-options="iconCls:'icon-download'" suffix="xls" data-bind="click:'download'">导出</a>
    <div class="condition_buttons">
        <a class="easyui-linkbutton" data-bind="click:'searchClick'" data-options="iconCls:'icon-search', plain:true" href="#">搜索</a>
        <a class="easyui-linkbutton" data-bind="click:'clearClick'" data-options="iconCls:'icon-clear', plain:true" href="#">清空</a>
    </div>
</div>
<div id="condition" class="container_12" style="position:relative;max-height:90px">
    <div class="grid-group-1"><div class="lbl">流水编号</div>
    <div class="val"><input data-bind="value:'serach.FID'" type="text" class="z-txt" /></div></div>
    <div class="grid-group-1"><div class="lbl">年</div>
    <div class="val"><input data-bind="value:'serach.FYear'" type="text" class="z-txt" /></div></div>
    <div class="grid-group-1"><div class="lbl">月</div>
    <div class="val"><input data-bind="value:'serach.FMonth'" type="text" class="z-txt" /></div></div>
    <div class="grid-group-1"><div class="lbl">个人账号</div>
    <div class="val"><input data-bind="value:'serach.HFCode'" type="text" class="z-txt" /></div></div>
    <div class="grid-group-1"><div class="lbl">公积金类别</div>
    <div class="val"><input data-bind="value:'serach.HFType', datasource:'dataSource.HFType'" type="text" class="z-txt easyui-combobox" /></div></div>
    <div class="grid-group-1"><div class="lbl">人员</div>
    <div class="val"><input type="text" data-bind="value:'serach.empCode', text:'serach.empCode_RefText'" class="z-txt easyui-popup" data-options="rule:'员工',textField:'empCode_RefText', onSelect:fruit.popupSelected, displayFields:'FID,FName|FID||FName'" /></div></div>
    <div class="grid-group-1"><div class="lbl">创建日期</div>
    <div class="val"><input data-bind="value:'serach.CreateDate'" type="text" class="z-txt easyui-daterange" /></div></div>
</div>
<table id="grid" data-bind="datagrid" data-options="'rownumbers':true,'method':'get','pagination':true,'pageSize':20,'holdTotal':true,'fixSize':{'w':4,'h':'auto'},'fitColumns':false,'url':'/api/wage/hr_housfundrecords'">
<thead>
<tr>
<th field="FID" data-options="">流水编号</th>
<th field="FYear" data-options="">年</th>
<th field="FMonth" data-options="">月</th>
<th field="HFCode" data-options="">个人账号</th>
<th field="HFType" data-options="">公积金类别</th>
<th field="empCode" data-options="">人员</th>
<th field="corpFund" data-options="">公司缴存额</th>
<th field="indvFund" data-options="">个人缴存额</th>
<th field="HFAmt" data-options="">公积金基数</th>
<th field="Total" data-options="">合计缴存额</th>
<th field="CreatePerson" data-options="">创建人</th>
<th field="Remark" data-options="">备注</th>
<th field="CreateDate" data-options="">创建日期</th>
</tr>
</thead>
</table>
