@section scripts {
<script type="text/javascript">
    var data = @MvcHtmlString.Create(JsonExtension.ToJson(Model));
    $(function(){
        var db = fruit.databind.root;
        data.form._row_state = @ViewBag.RowState;
        db.loadData(data);
        function loadDetial(){
        }
        loadDetial();
        $.extend(db, {
            refreshClick:function(){
                location.assign(top.$(window.frameElement).data('src'));
            },
            rejectClick:function(){
                location.assign(top.$(window.frameElement).data('src'));
            },
            newClick:function(){
                fruit.ajax({
                        url:'/api/Rols/Practisecert/NewFID',
                        success:function(data) {
                            parent.changeDocTab(window.frameElement, '/Rols/Practisecert/edit/' + data);
                        }
                    })
            },
            deleteClick:function(){
                $.messager.confirm('确认', '您确认要删除当前记录吗？', function(r){
                    if(r){
                        fruit.ajax({
                            method:'DELETE',
                            url: '/api/Rols/Practisecert/'+db.getData('form').FID,
                            success: function(data) {
                                fruit.message('success', '删除成功');
                                top.closeDocTab(window.frameElement);
                            }
                        });
                    }
                });
            },
            saveClick:function(){
                if(!db.validate()){fruit.message('error', '请更正验证错误！'); return;}
                var data = db.getData();
                fruit.ajax({
                    url: '/api/Rols/Practisecert/',
                    data: JSON.stringify(data),
                    success:function(result){
                        if(result && result.success){
                            fruit.message('success', '保存成功');
                            if(result.form){
                                db.loadData(result);
                                loadDetial();
                            }
                        }
                    }
                });
            }
        });
    });
</script>
}


<div class="z-toolbar">
    <a id="a_save" href="#" plain="true" class="easyui-linkbutton" icon="icon-save" data-bind="click:'saveClick',disable:'readonly'" title="保存">保存</a>
    <a id="a_undo" href="#" plain="true" class="easyui-linkbutton" icon="icon-undo" data-bind="click:'rejectClick',disable:'readonly'" title="撤消">撤消</a>
    <div class="datagrid-btn-separator"></div>
    <a id="a_other" href="#" class="easyui-splitbutton" data-options="menu:'#divother',iconCls:'icon-application_go'" title="其他">其他</a>
</div>

<div id="divother" style="width:100px; display:none;">
    <div data-options="iconCls:'icon-add'" data-bind="click:'newClick'">新增</div>
    <div data-options="iconCls:'icon-cross'" data-bind="click:'deleteClick'">删除</div>
    <div data-options="iconCls:'icon-arrow_refresh'" data-bind="click:'refreshClick'">刷新</div>
</div>

<div id="divrelations" style="width:100px; display:none;"></div>
<div id="master" class="container_12" data-bind="inputwidth:0.9">
<input type="hidden" data-bind="value:'form._row_state'" />
    <input type="hidden" id="FID" data-bind="value:'form.FID'" />
    <div class="grid-group-1"><div class="lbl">证书名称</div>
   <div class="val">
<input type="text" data-bind="value:'form.certName'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">所属公司</div>
   <div class="val">
<input type="text" data-bind="value:'form.Corp',datasource:'dataSource.Corp'" class="z-txt easyui-combobox" data-options="required:false, readonly:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">人员名称</div>
   <div class="val">
<input type="text" data-bind="value:'form.empID'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">专业</div>
   <div class="val">
<input type="text" data-bind="value:'form.certType',datasource:'dataSource.certType'" class="z-txt easyui-combobox" data-options="required:true, readonly:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">身份证号</div>
   <div class="val">
<input type="text" data-bind="value:'form.CodeID'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">资格证书编号</div>
   <div class="val">
<input type="text" data-bind="value:'form.certOrgan'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">证书编号</div>
   <div class="val">
<input type="text" data-bind="value:'form.certNo'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">注册编号</div>
   <div class="val">
<input type="text" data-bind="value:'form.regNo'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">证书有效期</div>
   <div class="val">
<input type="text" data-bind="value:'form.expireDate', readOnly:false" class="z-txt easyui-datebox" data-options="required:true" /></div></div>
    <div class="grid-group-2"><div class="lbl">借用情况</div>
   <div class="val">
<input type="text" data-bind="value:'form.onProject'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">聘用开始日期</div>
   <div class="val">
<input type="text" data-bind="value:'form.START_TIME',readOnly:false" class="z-txt easyui-datebox" /></div></div>
    <div class="grid-group-1"><div class="lbl">聘用到期日期</div>
   <div class="val">
<input type="text" data-bind="value:'form.END_TIME',readOnly:false" class="z-txt easyui-datebox" /></div></div>
    <div class="grid-group-1"><div class="lbl">聘用挂证费用</div>
   <div class="val">
<input type="text" data-bind="value:'form.GAmt'" class="z-txt easyui-numberbox" data-options="required:false,precision:2" /></div></div>
    <div class="grid-group-1"><div class="lbl">有无项目</div>
   <div class="val">
<input type="text" data-bind="value:'form.bUsed',datasource:'dataSource.bUsed'" class="z-txt easyui-combobox" data-options="required:false, readonly:false" /></div></div>
    <div class="grid-group-4"><div class="lbl">继续教育情况</div>
   <div class="val">
<input type="text" data-bind="value:'form.trainStatus'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">社保</div>
   <div class="val">
<input type="text" data-bind="value:'form.CustID',datasource:'dataSource.CustID'" class="z-txt easyui-combobox" data-options="required:false, readonly:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">创建人</div>
   <div class="val">
<input type="text" data-bind="value:'form.CreatePerson', readOnly:true" class="z-txt readonly" /></div></div>
    <div class="grid-group-1"><div class="lbl">创建日期</div>
   <div class="val">
<input type="text" data-bind="value:'form.CreateDate', readOnly:true" class="z-txt easyui-datebox" data-options="required:true" /></div></div>
    <div class="grid-group-1"><div class="lbl">更改日期</div>
   <div class="val">
<input type="text" data-bind="value:'form.UpdateDate', readOnly:true" class="z-txt easyui-datebox" data-options="required:true" /></div></div>
</div>

<div id="tt" class="easyui-tabs">

    <div title="扫描件" style="padding-top:2px;width:100%;height:100%;margin-bottom:50px">
        <div class="container_12" id="BillDetail" data-bind="inputwidth:0.9,autoheight:181">
            <div class="grid-group-1" style="float:left;">
                <div class="lbl">扫描件1</div>
                <div class="val">
                    <input type="text" id="Scan1" name="Scan1" data-bind="value:'form.Scan1'" value="@ViewBag.Scan1 " style=" width:120px;" /><a href="#" class="easyui-linkbutton"
                                                                                                                                                 onclick="UpdataFile(1);" iconcls="icon-upload">上传</a>
                </div>
            </div>
            <div class="grid-group-1">
                <div class="lbl">扫描件2</div>
                <div class="val">
                    <input type="text" id="Scan2" name="scan2" data-bind="value:'form.Scan2'" style=" width:120px;" /><a href="#" class="easyui-linkbutton"
                                                                                                                         onclick="UpdataFile(2);" iconcls="icon-upload">上传</a>
                </div>
            </div>
            <div class="grid-group-1">
                <div class="lbl">扫描件3</div>
                <div class="val">
                    <input type="text" id="Scan3" name="scan3" data-bind="value:'form.Scan3'" style="width:120px;" /><a href="#" class="easyui-linkbutton"
                                                                                                                        onclick="UpdataFile(3);" iconcls="icon-upload">上传</a>

                </div>
            </div>
            <div class="grid-group-1">
                <div class="lbl">扫描件4</div>
                <div class="val">
                    <input type="text" id="Scan4" name="scan4" data-bind="value:'form.Scan4'" style=" width:120px;" /><a href="#" class="easyui-linkbutton"
                                                                                                                         onclick="UpdataFile(4);" iconcls="icon-upload">上传</a>
                </div>
            </div>
        </div>




        <link href="~/Content/main.css" rel="stylesheet" />
        <link href="~/Content/nature.css" rel="stylesheet" />
        <script src="/scripts/vendor/modernizr.js"></script>


        <div style="width:100%;height:800px">
            @Html.Partial("_CamPartialPage")

        </div>



    </div>

</div>