@section head{
    <link href="~/Content/base.css" rel="stylesheet" />

    <link href="~/Content/workbench.css" rel="stylesheet" />
}

<div class="container" style="margin-top:10px;background-color:gainsboro">
    <div id="bd">
        <div class="bd-content">

            <div class="center-part">
                <div class="center-items todo">
                    <div class="calendar-part">
                        <div class="easyui-calendar" style="width:470px;height:235px;"></div>
                    </div>
                    <ul class="work-items clearfix">
                        <li>
                            <div class="work-inner">
                                <div class="work-item green">
                                    <i class="iconfont">&#xe61f;</i>
                                    <span class="num">0</span>
                                    <label>未审核挂牌信息</label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="work-inner">
                                <div class="work-item red">
                                    <i class="iconfont">&#xe622;</i>
                                    <span class="num">0</span>
                                    <label>未审核竞价信息</label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="work-inner">
                                <div class="work-item yellow">
                                    <i class="iconfont">&#xe6f9;</i>
                                    <span class="num">0&nbsp;<span class="unit">条</span></span>
                                    <label>未审核团购信息</label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="work-inner">
                                <div class="work-item blue">
                                    <i class="iconfont">&#xe6c3;</i>
                                    <span class="num">0&nbsp;<span class="unit">个</span></span>
                                    <label>待认证信息</label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="work-inner">
                                <div class="work-item purple">
                                    <i class="iconfont">&#xe6cd;</i>
                                    <span class="num">0&nbsp;<span class="unit">个</span></span>
                                    <label>敬请期待...</label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="work-inner">
                                <div class="work-item gray">
                                    <i class="iconfont">&#xe620;</i>
                                    <span class="num">0&nbsp;<span class="unit">个</span></span>
                                    <label>敬请期待...</label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div id="ft"></div>
</div>
<div class="todo-panel" id="green">
    <div class="todo-title">
        <i class="iconfont">&#xe61f;</i>
        <span class="num">0</span>
        <label>提醒</label>
    </div>
    <div class="todo-items">
        <ul id="greenUrl"></ul>
    </div>

</div>
<div class="todo-panel" id="red">
    <div class="todo-title">
        <i class="iconfont">&#xe61f;</i>
        <span class="num">0</span>
        <label>提醒</label>
    </div>
    <div class="todo-items">
        <ul id="redUrl"></ul>
    </div>

</div>

<div class="todo-panel" id="yellow">
    <div class="todo-title">
        <i class="iconfont">&#xe61f;</i>
        <span class="num">0</span>
        <label>提醒</label>
    </div>
    <div class="todo-items">
        <ul id="yellowUrl"></ul>
    </div>

</div>

<div class="todo-panel" id="blue">
    <div class="todo-title">
        <i class="iconfont">&#xe61f;</i>
        <span class="num">0</span>
        <label>提醒</label>
    </div>
    <div class="todo-items">
        <ul id="blueUrl"></ul>
    </div>

</div>
<script src="~/Content/jquery-notify/jquery-1.8.3.js"></script>
<script src="~/Content/easyui/jquery.easyui.min.js"></script> 
@section scripts{
    <script src="~/Content/js/jquery.ajax.js"></script>
    <script type="text/javascript">

        $(function () {
            //挂牌提醒
            $.api.ajax_mvc({ model: 'remindGreen' },
                { method: 'remindGreen' },
                function (data) {
                    if (data) {
                        var lengthNum = data.length;
                        $(".green .num").text(lengthNum).append('&nbsp;<span class="unit">条</span>');
                        $("#green .num").html(lengthNum).append('&nbsp;<span class="unit">条</span>');
                        for (var i = 0; i < data.length; i++) {
                            //var DateListener = Date.parse(data[i].expireDate) > Date.parse(new Date()) ? "即将过期" : "已经过期";
                            var listLi = '<li>' +
                                                     '<span></span>' +
                                '<a class="btnUrl" data-title="挂牌管理"  data-url="/Business/Fw_Productinfo/edit/' + data[i].Fid + '"   class="ellipsis"> 会员<span>' + data[i].realname + '</span>的挂牌未审核</a>' +
                                                     '</li> '
                            $("#greenUrl").append(listLi);
                        }
                     
                    }
                });

            //竞价提醒
            $.api.ajax_mvc({ model: 'remindRed' },
           { method: 'remindRed' },
           function (data) {
               if (data) {
                   var lengthNum = data.length;
                   $(".red .num").text(lengthNum).append('&nbsp;<span class="unit">条</span>');
                   $("#red .num").html(lengthNum).append('&nbsp;<span class="unit">条</span>');
                   for (var i = 0; i < data.length; i++) {
                       var listLi = '<li>' +
                                                '<span></span>' +
                                                '<a class="btnUrl"  data-title="未审核竞价信息"  data-url="/Business/Fw_Auctionbuyinginfo/edit/' + data[i].aucid + '" class="ellipsis"> 发布人<span>' + data[i].realname + '</span>的竞价信息未审核</a>' +
                                                '</li> '
                       $("#redUrl").append(listLi);
                   }

               }
           });
            //团购提醒
            $.api.ajax_mvc({ model: 'remindyellow' },
           { method: 'remindyellow' },
           function (data) {
               if (data) {
                   var lengthNum = data.length;
                   $(".yellow .num").text(lengthNum).append('&nbsp;<span class="unit">条</span>');
                   $("#yellow .num").html(lengthNum).append('&nbsp;<span class="unit">条</span>');
                   for (var i = 0; i < data.length; i++) {
                       var listLi = '<li>' +
                                                '<span></span>' +
                                                '<a class="btnUrl"  data-title="未审核团购"  data-url="/Business/Fw_Teambuyinginfo/edit/' + data[i].teamid + '" class="ellipsis"> 发布人<span>' + data[i].realname + '</span>的团购信息未审核</a>' +
                                                '</li> '
                       $("#yellowUrl").append(listLi);
                   }

               }
           });
            //待认证提醒
            $.api.ajax_mvc({ model: 'remindblue' },
           { method: 'remindblue' },
           function (data) {
               if (data) {
                   var lengthNum = data.length;
                   $(".blue .num").text(lengthNum).append('&nbsp;<span class="unit">条</span>');
                   $("#blue .num").html(lengthNum).append('&nbsp;<span class="unit">条</span>');
                   for (var i = 0; i < data.length; i++) {
                       var listLi = '<li>' +
                                                '<span></span>' +
                                                '<a class="btnUrl"  data-title="会员认证"  data-url="/Member/Fw_Memberinfo/edit/' + data[i].Fid + '" class="ellipsis"> 会员<span>' + data[i].memid + '</span>的账户等待认证</a>' +
                                                '</li> '
                       $("#blueUrl").append(listLi);
                   }

               }
           });

            //点击跳转
            $(".btnUrl").click(function () { 
                showDocTab("tabs-icon icon-error", $(this).data("title"), $(this).data("url"), '');
                var tab = $('#mainTabs');
                var iframe = $('iframe', tab);
                if (iframe.length > 0) {
                    iframe[0].contentWindow.location = iframe.attr('src');
                } 
            })


            //显示
            function showDocTab(iconCls, title, url, code) {
                $ = parent.$ || $;
                var tabIndex = $('#mainTabs').tabs('tabs').indexOf(function (tab) { return $(tab).find('iframe').data('src') == url; });
                if (tabIndex > -1) {
                    $('#mainTabs').tabs('select', tabIndex);
                    var frame = $('#mainTabs').tabs('getTab', tabIndex).find('iframe');
                    frame[0].contentWindow.location.reload();
                    return;
                }

                function addNewDocTab() {
                    var newFrame = $('<iframe style="width:100%;height:100%;" frameborder="0" scrolling="auto" data-code="' + code + '"></iframe>');
                    newFrame.data('src', url);
                    $('#mainTabs').tabs('add', {
                        iconCls: iconCls,
                        title: title,
                        content: newFrame,
                        closable: code != '==HOME=='
                    });
                }
                if ($('#mainTabs').tabs('tabs').length >= 10) {
                    $.messager.confirm('警告', '您当前打开了太多的页面，如果继续打开，会造成程序运行缓慢，无法流畅操作！', function (r) {
                        if (r) { addNewDocTab(); }
                    });
                    return;
                } else {
                    addNewDocTab();
                }



            }

            //我的待办点击事件
            $(document).on('click', '.work-item', function (event) {
                var idName = $("#" + event.currentTarget.className.split(' ')[1]);
                $(".todo-panel").not(idName).hide();
                var width = (2 * $(this).width()) + 10;
                $(idName).width(width - 2).css({ top: $(this).offset().top, left: $(this).offset().left }).show();
                event.stopPropagation();
            });

            $(document).on('click', function () {
                $(".todo-panel").hide();
            });
        })
        //公开附件tab事件处理
        $(".attached-tab").on("click", "a", function () {
            $(this).closest(".attached-tab").find("a").removeClass("current");
            $(this).addClass("current");
            $(this).closest(".attached").find("ul").addClass("hide");
            $(this).closest(".attached").find("ul." + $(this).attr("attached")).removeClass("hide");

        });
    </script>
}