@section scripts {
    <script type="text/javascript">
        $(function(){
            var db = fruit.databind.root;
                    var data = @MvcHtmlString.Create(JsonExtension.ToJson(Model));
                    db.loadData(data);
            $.extend(db.options, {
                searchClick: function(){
                    var form = db.getData('serach');
                    db.invoke('setLoadParams', form);
                },
                clearClick: function(){
                    db.clearData('serach');
                    db.invoke('setLoadParams', {});
                }
                , onInit: function(){
                    db.loadData(data);
                }
            });
        });

    </script>
}

<div class="z-toolbar">

    <a class="easyui-linkbutton" iconcls="icon-arrow_refresh" plain="true" data-bind="click:'refresh'">刷新</a>
    <a class="easyui-splitbutton" plain="true" data-options="iconCls:'icon-download'" suffix="xls" data-bind="click:'download'">导出</a>
    <div class="condition_buttons">
        <a class="easyui-linkbutton" data-bind="click:'searchClick'" data-options="iconCls:'icon-search', plain:true" href="#">搜索</a>
        <a class="easyui-linkbutton" data-bind="click:'clearClick'" data-options="iconCls:'icon-clear', plain:true" href="#">清空</a>
    </div>
</div>
<div id="condition" class="container_12" style="position:relative;max-height:60px">
    <div class="grid-group-1"><div class="lbl">单位</div>
    <div class="val"><input data-bind="value:'serach.单位', datasource:'dataSource.单位'" type="text" class="z-txt easyui-combobox" /></div></div>
    <div class="grid-group-1"><div class="lbl">分部负责人</div>
    <div class="val"><input data-bind="value:'serach.分部负责人', datasource:'dataSource.分部负责人'" type="text" class="z-txt easyui-combobox" /></div></div>
    <div class="grid-group-1"><div class="lbl">工程类别</div>
    <div class="val"><input data-bind="value:'serach.工程类别', datasource:'dataSource.工程类别'" type="text" class="z-txt easyui-combobox" /></div></div>
    <div class="grid-group-1"><div class="lbl">开始日期</div>
    <div class="val"><input data-bind="value:'serach.开始日期'" type="text" class="z-txt easyui-daterange" /></div></div>
</div>
<table id="grid" data-bind="datagrid" data-options="'rownumbers':true,'method':'get','pagination':true,'pageSize':20,'holdTotal':true,'fixSize':{'w':4,'h':'auto'},'fitColumns':false,'url':'/api/contr/rcontract','showFooter':true">
<thead>
<tr>
<th field="合同编号" data-options="">合同编号</th>
<th field="单位" data-options="">单位</th>
<th field="分部负责人" data-options="">分部负责人</th>
<th field="发包单位" data-options="">发包单位</th>
<th field="工程类别" data-options="">工程类别</th>
<th field="造价" data-options="">造价</th>
<th field="印花税" data-options="">印花税</th>
<th field="开始日期" data-options="">开始日期</th>
</tr>
</thead>
</table>
