@section scripts {
<script type="text/javascript">
    var data = @MvcHtmlString.Create(JsonExtension.ToJson(Model));
    $(function(){
        var db = fruit.databind.root;
        $.extend(db.options, {
            removeRowfw_orderlistClick: function(){
                db.binds.listfw_orderlist.delete();
            }
        });
        $.extend(db.options, {
            addRowfw_orderlistClick: function(){
                db.binds.listfw_orderlist.add();
            }
        });
        data.form._row_state = @ViewBag.RowState;
        db.loadData(data);
        function loadDetial(){
            fruit.ajax({method:'get', url:'/api/Business/Fw_Orderinfo/getdetial/'+data.form["ordid"],success:function(data){for(var key in data){$('[data-subtable=' + key + ']').datagrid('loadData', data[key]);}}});
        }
        loadDetial();
        $.extend(db, {
            refreshClick:function(){
                location.assign(top.$(window.frameElement).data('src'));
            },
            rejectClick:function(){
                location.assign(top.$(window.frameElement).data('src'));
            },
            newClick:function(){
                fruit.ajax({
                        url:'/api/Business/Fw_Orderinfo/Newordid',
                        success:function(data) {
                            parent.changeDocTab(window.frameElement, '/Business/Fw_Orderinfo/edit/' + data);
                        }
                    })
            },
            deleteClick:function(){
                $.messager.confirm('确认', '您确认要删除当前记录吗？', function(r){
                    if(r){
                        fruit.ajax({
                            method:'DELETE',
                            url: '/api/Business/Fw_Orderinfo/'+db.getData('form').ordid,
                            success: function(data) {
                                fruit.message('success', '删除成功');
                                top.closeDocTab(window.frameElement);
                            }
                        });
                    }
                });
            },
            saveClick:function(){
                if(!db.validate()){fruit.message('error', '请更正验证错误！'); return;}
                var data = db.getData();
                data.fw_orderlist = $('[data-subtable="fw_orderlist"]').datagrid('getChangeRows');
                fruit.ajax({
                    url: '/api/Business/Fw_Orderinfo/',
                    data: JSON.stringify(data),
                    success:function(result){
                        if(result && result.success){
                            fruit.message('success', '保存成功');
                            if(result.form){
                                db.loadData(result);
                                loadDetial();
                            }
                        }
                    }
                });
            }
        });
    });
</script>
}


<div class="z-toolbar">
    <a id="a_save" href="#" plain="true" class="easyui-linkbutton" icon="icon-save" data-bind="click:'saveClick',disable:'readonly'" title="保存">保存</a>
    <a id="a_undo" href="#" plain="true" class="easyui-linkbutton" icon="icon-undo" data-bind="click:'rejectClick',disable:'readonly'" title="撤消">撤消</a>
    <div class="datagrid-btn-separator"></div>
    <a id="a_other" href="#" class="easyui-splitbutton" data-options="menu:'#divother',iconCls:'icon-application_go'" title="其他">其他</a>
</div>

<div id="divother" style="width:100px; display:none;">
    <div data-options="iconCls:'icon-add'" data-bind="click:'newClick'">新增</div>
    <div data-options="iconCls:'icon-cross'" data-bind="click:'deleteClick'">删除</div>
    <div data-options="iconCls:'icon-arrow_refresh'" data-bind="click:'refreshClick'">刷新</div>
</div>

<div id="divrelations" style="width:100px; display:none;"></div>
<div id="master" class="container_12" data-bind="inputwidth:0.9">
<input type="hidden" data-bind="value:'form._row_state'" />
    <div class="grid-group-1"><div class="lbl">订单编号</div>
   <div class="val">
<input type="text" data-bind="value:'form.ordid', readOnly:true" class="z-txt readonly" /></div></div>
    <div class="grid-group-1"><div class="lbl">卖家会员</div>
   <div class="val">
<input type="text" data-bind="value:'form.selleruserid'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">买家会员</div>
   <div class="val">
<input type="text" data-bind="value:'form.buyeruserid'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">交易模式</div>
   <div class="val">
<input type="text" data-bind="value:'form.tranmode'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">合同查看</div>
   <div class="val">
<input type="text" data-bind="value:'form.contracturl'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">订单来自</div>
   <div class="val">
<input type="text" data-bind="value:'form.fromid'" class="z-txt easyui-numberbox" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">订单状态</div>
   <div class="val">
<input type="text" data-bind="value:'form.ordstate'" class="z-txt easyui-numberbox" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">是否有效订单</div>
   <div class="val">
<input type="text" data-bind="value:'form.isactive'" class="z-txt easyui-numberbox" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">创建日期</div>
   <div class="val">
<input type="text" data-bind="value:'form.createdate',readOnly:false" class="z-txt easyui-datebox" /></div></div>
    <div class="grid-group-1"><div class="lbl">Guid编号</div>
   <div class="val">
<input type="text" data-bind="value:'form.ordcode'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
</div>
<div id="tt" class="easyui-tabs">
    <div title="fw_orderlist">
        <table id="listfw_orderlist" data-subtable="fw_orderlist" data-bind="datagrid:'grid'" data-options="'fixSize':{w:6,h:'auto'},'toolbar':'#gridtbfw_orderlist','showFooter':false,'border':false,'editMode':'select','singleSelect':true,'fitColumns':false,'autoRowHeight':false">
            <thead>
                <tr>
    <th field="ordlistid">明细编号    </th>
    <th field="proname" data-options="editor:{type:'validatebox',options:{required:false}}">品名    </th>
    <th field="spec" data-options="editor:{type:'validatebox',options:{required:false}}">规格    </th>
    <th field="price" data-options="editor:{type:'validatebox',options:{required:false}}">单价    </th>
    <th field="counts" data-options="editor:{type:'validatebox',options:{required:false}}">数量    </th>
    <th field="listcode" data-options="editor:{type:'validatebox',options:{required:false}}">Guid编号    </th>
                </tr>
            </thead>
        </table>

        <div id="gridtbfw_orderlist">
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" data-bind="click:'addRowfw_orderlistClick',disable:'readonly'">增加</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" data-bind="click:'removeRowfw_orderlistClick',disable:'readonly'">删除</a>
        </div>
    </div>
</div>
