@section scripts {
<script type="text/javascript">
    var data = @MvcHtmlString.Create(JsonExtension.ToJson(Model));
    $(function(){
        var db = fruit.databind.root;
        data.form._row_state = @ViewBag.RowState;
        db.loadData(data);
        function loadDetial(){
        }
        loadDetial();
        $.extend(db, {
            refreshClick:function(){
                location.assign(top.$(window.frameElement).data('src'));
            },
            rejectClick:function(){
                location.assign(top.$(window.frameElement).data('src'));
            },
            newClick:function(){
                fruit.ajax({
                        url:'/api/Member/Fw_Memberinfo/Newmemid',
                        success:function(data) {
                            parent.changeDocTab(window.frameElement, '/Member/Fw_Memberinfo/edit/' + data);
                        }
                    })
            },
            deleteClick:function(){
                $.messager.confirm('确认', '您确认要删除当前记录吗？', function(r){
                    if(r){
                        fruit.ajax({
                            method:'DELETE',
                            url: '/api/Member/Fw_Memberinfo/'+db.getData('form').memid,
                            success: function(data) {
                                fruit.message('success', '删除成功');
                                top.closeDocTab(window.frameElement);
                            }
                        });
                    }
                });
            },
            saveClick:function(){
                if(!db.validate()){fruit.message('error', '请更正验证错误！'); return;}
                var data = db.getData();
                fruit.ajax({
                    url: '/api/Member/Fw_Memberinfo/',
                    data: JSON.stringify(data),
                    success:function(result){
                        if(result && result.success){
                            fruit.message('success', '保存成功');
                            if(result.form){
                                db.loadData(result);
                                loadDetial();
                            }
                        }
                    }
                });
            }
        });
    });
</script>
}


<div class="z-toolbar">
    <a id="a_save" href="#" plain="true" class="easyui-linkbutton" icon="icon-save" data-bind="click:'saveClick',disable:'readonly'" title="保存">保存</a>
    <a id="a_undo" href="#" plain="true" class="easyui-linkbutton" icon="icon-undo" data-bind="click:'rejectClick',disable:'readonly'" title="撤消">撤消</a>
    <div class="datagrid-btn-separator"></div>
    <a id="a_other" href="#" class="easyui-splitbutton" data-options="menu:'#divother',iconCls:'icon-application_go'" title="其他">其他</a>
</div>

<div id="divother" style="width:100px; display:none;">
    <div data-options="iconCls:'icon-add'" data-bind="click:'newClick'">新增</div>
    <div data-options="iconCls:'icon-cross'" data-bind="click:'deleteClick'">删除</div>
    <div data-options="iconCls:'icon-arrow_refresh'" data-bind="click:'refreshClick'">刷新</div>
</div>

<div id="divrelations" style="width:100px; display:none;"></div>
<div id="master" class="container_12" data-bind="inputwidth:0.9">
<input type="hidden" data-bind="value:'form._row_state'" />
    <div class="grid-group-1"><div class="lbl">会员手机</div>
   <div class="val">
<input type="text" data-bind="value:'form.memid', readOnly:true" class="z-txt readonly" /></div></div>
    <div class="grid-group-1"><div class="lbl">密码</div>
   <div class="val">
<input type="text" data-bind="value:'form.mempass'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">真实姓名</div>
   <div class="val">
<input type="text" data-bind="value:'form.realname'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">性别</div>
   <div class="val">
<input type="text" data-bind="value:'form.gender'" class="z-txt easyui-numberbox" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">Email</div>
   <div class="val">
<input type="text" data-bind="value:'form.email'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">QQ</div>
   <div class="val">
<input type="text" data-bind="value:'form.qq'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">微信</div>
   <div class="val">
<input type="text" data-bind="value:'form.wechat'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">注册时间</div>
   <div class="val">
<input type="text" data-bind="value:'form.regtime',readOnly:false" class="z-txt easyui-datebox" /></div></div>
    <div class="grid-group-1"><div class="lbl">最后登录</div>
   <div class="val">
<input type="text" data-bind="value:'form.lasttime',readOnly:false" class="z-txt easyui-datebox" /></div></div>
    <div class="grid-group-1"><div class="lbl">是否已认证</div>
   <div class="val">
<input type="text" data-bind="value:'form.ispassed'" class="z-txt easyui-numberbox" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">是否启用</div>
   <div class="val">
<input type="text" data-bind="value:'form.isenabled'" class="z-txt easyui-numberbox" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">企业编号</div>
   <div class="val">
<input type="text" data-bind="value:'form.corpid'" class="z-txt easyui-numberbox" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">Guid编号</div>
   <div class="val">
<input type="text" data-bind="value:'form.memcode'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
</div>
