<!doctype html>
<html class="no-js" lang="zh-Hans">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5">
<title>HTML5动态线条背景特效代码 - 站长素材</title>

<link rel="stylesheet" href="css/chinaz.css">

</head>
<body>

<div class="headline-bg index-headline-bg wavesWapper">
    <canvas id="waves" class="waves"></canvas>
</div>
<section class="features-video section section-on-bg feature-index">
    <div class="container"> 
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">

            </div>
        </div>         
    </div>
</section>

<script src="js/49f8daee.vendors.js"></script>
<script src="js/26f2fc0d.index.js"></script>

<div style="text-align:center;margin:-100px 0; font:normal 14px/24px 'MicroSoft YaHei';">
<p>适用浏览器：360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗. 不支持IE8及以下浏览器。</p>
<p>来源：<a href="http://sc.chinaz.com/" target="_blank">站长素材</a></p>
</div>
</body>
</html>