@section scripts {
    <script type="text/javascript">
        $(function(){
            var db = fruit.databind.root;
                    var data = @MvcHtmlString.Create(JsonExtension.ToJson(Model));
                    db.loadData(data);
            $.extend(db.options, {
                searchClick: function(){
                    var form = db.getData('serach');
                    db.invoke('setLoadParams', form);
                },
                clearClick: function(){
                    db.clearData('serach');
                    db.invoke('setLoadParams', {});
                }
                , onInit: function(){
                    db.loadData(data);
                }
            });
        });

    </script>
}

<div class="z-toolbar">

    <a class="easyui-linkbutton" iconcls="icon-arrow_refresh" plain="true" data-bind="click:'refresh'">刷新</a>
    <a class="easyui-splitbutton" plain="true" data-options="iconCls:'icon-download'" suffix="xls" data-bind="click:'download'">导出</a>
    <div class="condition_buttons">
        <a class="easyui-linkbutton" data-bind="click:'searchClick'" data-options="iconCls:'icon-search', plain:true" href="#">搜索</a>
        <a class="easyui-linkbutton" data-bind="click:'clearClick'" data-options="iconCls:'icon-clear', plain:true" href="#">清空</a>
    </div>
</div>
<div id="condition" class="container_12" style="position:relative;height:90px">
    <div class="grid_1 lbl">部门</div>
    <div class="grid_2 val"><input data-bind="value:'serach.部门', datasource:'dataSource.部门'" type="text" class="z-txt easyui-combobox" /></div>
    <div class="grid_1 lbl">员工编号</div>
    <div class="grid_2 val"><input data-bind="value:'serach.员工编号'" type="text" class="z-txt" /></div>
    <div class="grid_1 lbl">员工姓名</div>
    <div class="grid_2 val"><input data-bind="value:'serach.员工姓名'" type="text" class="z-txt" /></div>
    <div class="clear"></div>
    <div class="grid_1 lbl">终端编号</div>
    <div class="grid_2 val"><input data-bind="value:'serach.客户编号'" type="text" class="z-txt" /></div>
    <div class="grid_1 lbl">终端名称</div>
    <div class="grid_2 val"><input data-bind="value:'serach.客户名称'" type="text" class="z-txt" /></div>
    <div class="grid_1 lbl">终端类型</div>
    <div class="grid_2 val"><input data-bind="value:'serach.客户类型', datasource:'dataSource.客户类型'" type="text" class="z-txt easyui-combobox" /></div>
    <div class="clear"></div>
    <div class="grid_1 lbl">巡访日期</div>
    <div class="grid_2 val"><input data-bind="value:'serach.巡访日期'" type="text" class="z-txt easyui-daterange" /></div>
    <div class="clear"></div>
</div>
<table id="grid" data-bind="datagrid" data-options="fixSize:{w:4, h:130}, rownumbers:true, method:'get', url:'/api/mms/kcdd', pagination:true, pageSize:20, holdTotal:true">
<thead>
<tr>
<th field="巡访类型" data-options="">巡访类型</th>
<th field="所属角色" data-options="">所属角色</th>
<th field="部门" data-options="">部门</th>
<th field="员工编号" data-options="">员工编号</th>
<th field="员工姓名" data-options="">员工姓名</th>
<th field="客户编号" data-options="">终端编号</th>
<th field="客户名称" data-options="">终端名称</th>
<th field="客户类型" data-options="">终端类型</th>
<th field="经度" data-options="">经度</th>
<th field="纬度" data-options="">纬度</th>
<th field="巡访日期" data-options="">巡访日期</th>
<th field="备注" data-options="width:200">备注</th>
</tr>
</thead>
</table>
