@section scripts {
<script type="text/javascript">
    $(function(){
        if($('#searchDialogTemplate').length == 1) {
            $('#showSearch').show();
        }
        var db = fruit.databind.root;

            $.extend(db.options, {
                searchClick: function(){
                    var serach = db.getData('serach');
                    db.invoke('setLoadParams', serach);
                },
                showSearchClick: function() {
                    var serachDialog = $('<div></div>').html($('#searchDialogTemplate').html());
                    var serachDialogDB = new fruit.databind(serachDialog[0], {
                        onInit:function(){
                            this.loadData(data);
                            var serach = db.getData('serach');
                            this.loadData({serach:serach});
                        }
                    });
                    serachDialog.dialog({title:'搜索', width:600, height:500, cache:false,modal:true,buttons:[
                        {text:'搜索',handler:function(){
                            var serach = serachDialogDB.getData('serach');
                            db.loadData({serach:serach});
                            db.invoke('setLoadParams', serach);
                            serachDialog.dialog('close');
                        }},
                        {text:'关闭',handler:function(){
                            serachDialog.dialog('close');
                        }},
                    ], onClose:function(){
                        serachDialog.dialog('destroy');
                    }});
                },
                clearClick: function(){
                    db.clearData('serach');
                    db.invoke('setLoadParams', {});
                }
            });
        $.extend(db.options, {
            add: function(){
                fruit.ajax({
                        url:'/api/Baseinfo/Customer/NewFID',
                        success:function(data) {
                            parent.showDocTab('icon-building_link', '分部负责人明细', '/Baseinfo/Customer/edit/' + data);
                        }
                    })
            },
            edit: function(){
                    var grid = db.binds.grid;
                    var row = grid.getSelected();
                    if(row == null) {
                        fruit.message('warning', '请先选择一个分部负责人');
                        return;
                    }
                    parent.showDocTab('icon-house_in', '分部负责人明细', '/Baseinfo/Customer/edit/' + row.FID);
            },
             'delete': function() {
                    var grid = db.binds.grid;
                    var rows = grid.getSelections();
                    if(rows.length == 0) return;
                    var ids = [];
                    $.each(rows, function(){
                        ids.push(this.FID);
                    });
                    $.messager.confirm('确认', '您确认要删除所选记录吗？', function(r){
                        if(r){
                            grid.jq.showLoading('正在处理…');
                            fruit.ajax({
                                method:'DELETE',
                                url: '/api/Baseinfo/Customer/'+ids.join(),
                                success: function(data) {
                                    grid.jq.hideLoading();
                                    grid.refresh();
                                }
                            })
                        }
                    });
                },
        });
    });
</script>
}
<div class="z-toolbar">

    <a class="easyui-linkbutton" iconcls="icon-arrow_refresh" plain="true" data-bind="click:'refresh'">刷新</a>
    <a class="easyui-linkbutton" iconcls="icon-add" plain="true" data-bind="click:'add'">新增</a>
    <a class="easyui-linkbutton" iconcls="icon-edit" plain="true" data-bind="click:'edit'">编辑</a>
    <a class="easyui-linkbutton" iconcls="icon-cross" plain="true" data-bind="click:'delete'">删除</a>
    <a class="easyui-splitbutton" plain="true" data-options="iconCls:'icon-download'" suffix="xls" data-bind="click:'download'">导出</a>
    <div class="condition_buttons">
        <a id="showSearch" style="display:none" class="easyui-linkbutton" data-bind="click:'showSearchClick'" data-options="iconCls:'icon-search', plain:true" href="#">更多条件...</a>
        <a class="easyui-linkbutton" data-bind="click:'searchClick'" data-options="iconCls:'icon-search', plain:true" href="#">搜索</a>
        <a class="easyui-linkbutton" data-bind="click:'clearClick'" data-options="iconCls:'icon-clear', plain:true" href="#">清空</a>
    </div>
</div>
<div id="condition" class="container_12" style="position:relative;max-height:35px">
    <div class="grid-group-1"><div class="lbl">姓名</div>
    <div class="val"><input data-bind="value:'serach.Contact'" type="text" class="z-txt" /></div></div>
    <div class="grid-group-1"><div class="lbl">身份证号</div>
    <div class="val"><input data-bind="value:'serach.CName'" type="text" class="z-txt" /></div></div>
    <div class="grid-group-1"><div class="lbl">银行账户</div>
    <div class="val"><input data-bind="value:'serach.BankAcc'" type="text" class="z-txt" /></div></div>
</div>
<table id="grid" data-bind="datagrid" data-options="fixSize:{w:4, h:'auto'}, autoRowHeight: false, rownumbers:true, method:'get', url:'/api/baseinfo/customer', pagination:true, pageSize:20, checkOnSelect:true, selectOnCheck:true, singleSelect:false">
<thead>
<tr>
    <th field="SelectedRowKey" data-options="checkbox:true"></th>
    <th field="Contact" data-options="editor:{type:'validatebox',options:{required:true}}" width="100">姓名    </th>
    <th field="CName" data-options="editor:{type:'validatebox',options:{required:true}}" width="150">身份证号    </th>
    <th field="BankAcc" data-options="editor:{type:'validatebox',options:{required:false}}" width="150">银行账户    </th>
    <th field="Phone" data-options="editor:{type:'validatebox',options:{required:true}}" width="100">联系方式    </th>
    <th field="Address" data-options="editor:{type:'validatebox',options:{required:true}}" width="200">联系地址    </th>
    <th field="Remark" data-options="editor:{type:'validatebox',options:{required:false}}" width="100">备注    </th>
</tr>
</thead>
</table>
