@section scripts {
<script type="text/javascript">
    var data = @MvcHtmlString.Create(JsonExtension.ToJson(Model));
    $(function(){
        var db = fruit.databind.root;
        db.loadData(data);
        function loadDetial(){
        }
        loadDetial();
        $.extend(db, {
            saveClick:function(){
                if(!db.validate()){fruit.message('error', '请更正验证错误！'); return;}
                var data = db.getData();
                fruit.ajax({
                    url: '/api/Mms/Deltest/',
                    data: JSON.stringify(data),
                    success:function(result){
                        if(result && result.success){
                            fruit.message('success', '保存成功');
                            if(result.form){
                                db.loadData(result);
                                loadDetial();
                            }
                        }
                    }
                });
            }
        });
    });
</script>
}


<div class="z-toolbar">
    <a id="a_save" href="#" plain="true" class="easyui-linkbutton" icon="icon-save" data-bind="click:'saveClick',disable:'readonly'" title="保存">保存</a>
    <a id="a_undo" href="#" plain="true" class="easyui-linkbutton" icon="icon-undo" data-bind="click:'rejectClick',disable:'readonly'" title="撤消">撤消</a>
    <div class="datagrid-btn-separator"></div>
    <a id="a_other" href="#" class="easyui-splitbutton" data-options="menu:'#divother',iconCls:'icon-application_go'" title="其他">其他</a>
</div>

<div id="divother" style="width:100px; display:none;">
    <div data-options="iconCls:'icon-add'">新增</div>
    <div data-options="iconCls:'icon-cross'">删除</div>
    <div data-options="iconCls:'icon-arrow_refresh'">刷新</div>
</div>
<div id="master" class="container_12" data-bind="inputwidth:0.9">
<input type="hidden" data-bind="value:'form.id'" />
    <div class="grid_1 lbl">NameD</div>
   <div class="grid_3 val"><input type="text" data-bind="value:'form.NameD'" class="z-txt" /></div>

    <div class="clear"></div>

</div>
