@section scripts {
<script src="~/Content/js/ueditor/ueditor.config.js"></script>
<script src="~/Content/js/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript">
    var data = @MvcHtmlString.Create(JsonExtension.ToJson(Model));
    $(function(){
        var db = fruit.databind.root;
        $.extend(db.options, {
            removeRow0Click: function(){
                db.binds.list0.delete();
            }
        });
        $.extend(db.options, {
            addRow0Click: function(){
                fruit.plugin.showPopupSelect({title:'选择活动经销商', width: 550, height: 500, rule: '经销商选择', onSelect: function(row, vfs, rfs){
                      var newRow = {};
                      for(var i=0;i<rfs.length;i++){
                          if(i<vfs.length){ newRow[rfs[i]] = row[vfs[i]]; }
                      }
                      db.binds.list0.add(newRow);
                  } });
            }
        });
        data.form._row_state = @ViewBag.RowState;
        db.loadData(data);
        function loadDetial(){
            fruit.ajax({method:'get', url:'/api/Mms/Cxhdwh/getdetial/'+data.form["code"],success:function(data){for(var key in data){$('[data-subtable=' + key + ']').datagrid('loadData', data[key]);}}});
        }
        loadDetial();
        $.extend(db, {
            refreshClick:function(){
                location.assign(top.$(window.frameElement).data('src'));
            },
            rejectClick:function(){
                location.assign(top.$(window.frameElement).data('src'));
            },
            newClick:function(){
                fruit.ajax({
                        url:'/api/Mms/Cxhdwh/Newcode',
                        success:function(data) {
                            parent.changeDocTab(window.frameElement, '/Mms/Cxhdwh/edit/' + data);
                        }
                    })
            },
            deleteClick:function(){
                $.messager.confirm('确认', '您确认要删除当前记录吗？', function(r){
                    if(r){
                        fruit.ajax({
                            method:'DELETE',
                            url: '/api/Mms/Cxhdwh/'+db.getData('form').code,
                            success: function(data) {
                                fruit.message('success', '删除成功');
                                top.closeDocTab(window.frameElement);
                            }
                        });
                    }
                });
            },
            saveClick:function(){
                if(!db.validate()){fruit.message('error', '请更正验证错误！'); return;}
                var data = db.getData();
                data.wq_patrolPrmPicsSet_bd = $('[data-subtable="wq_patrolPrmPicsSet_bd"]').datagrid('getChangeRows');
                fruit.ajax({
                    url: '/api/Mms/Cxhdwh/',
                    data: JSON.stringify(data),
                    success:function(result){
                        if(result && result.success){
                            fruit.message('success', '保存成功');
                            if(result.form){
                                db.loadData(result);
                                loadDetial();
                            }
                        }
                    }
                });
            }
        });
    });
</script>
}


<div class="z-toolbar">
    <a id="a_save" href="#" plain="true" class="easyui-linkbutton" icon="icon-save" data-bind="click:'saveClick',disable:'readonly'" title="保存">保存</a>
    <a id="a_undo" href="#" plain="true" class="easyui-linkbutton" icon="icon-undo" data-bind="click:'rejectClick',disable:'readonly'" title="撤消">撤消</a>
    <div class="datagrid-btn-separator"></div>
    <a id="a_other" href="#" class="easyui-splitbutton" data-options="menu:'#divother',iconCls:'icon-application_go'" title="其他">其他</a>
</div>

<div id="divother" style="width:100px; display:none;">
    <div data-options="iconCls:'icon-add'" data-bind="click:'newClick'">新增</div>
    <div data-options="iconCls:'icon-cross'" data-bind="click:'deleteClick'">删除</div>
    <div data-options="iconCls:'icon-arrow_refresh'" data-bind="click:'refreshClick'">刷新</div>
</div>

<div id="divrelations" style="width:100px; display:none;"></div>
<div id="master" class="container_12" data-bind="inputwidth:0.9">
<input type="hidden" data-bind="value:'form._row_state'" />
<input type="hidden" data-bind="value:'form.code'" />
    <div class="grid_1 lbl">活动名称</div>
   <div class="grid_3 val"><input type="text" data-bind="value:'form.name'" class="easyui-validatebox z-txt" data-options="required:false" /></div>
    <div class="grid_1 lbl">活动开始时间</div>
   <div class="grid_3 val"><input type="text" data-bind="value:'form.bgtime',readOnly:false" class="z-txt easyui-datebox" /></div>
    <div class="grid_1 lbl">活动结束时间</div>
   <div class="grid_3 val"><input type="text" data-bind="value:'form.edtime',readOnly:false" class="z-txt easyui-datebox" /></div>

    <div class="clear"></div>

    <div class="grid_1 lbl">活动内容</div>
   <div class="grid_11 val"><input type="hidden" data-bind="value:'form.CONTENT'" richtextbox="CONTENT_editor"><script id="CONTENT_editor" type="text/plan"></script></div>

    <div class="clear"></div>


    <div class="clear"></div>

</div>
<div id="tt" class="easyui-tabs">
    <div title="促销活动经销商">
        <table id="list0" data-subtable="wq_patrolPrmPicsSet_bd" data-bind="datagrid:'grid'" data-options="fixSize:{w:6,h:'auto'}, toolbar:'#gridtb0', showFooter: false, border:false, editMode:'select',singleSelect:true">
            <thead>
                <tr>
    <th field="Series">序号    </th>
    <th field="CustCode">经销商编号    </th>
    <th field="CustName">经销商名称    </th>
    <th field="Contact1">联系人1    </th>
    <th field="Tel1">电话1    </th>
    <th field="Mobile1">手机号1    </th>
    <th field="Contact2">联系人2    </th>
    <th field="Tel2">电话2    </th>
    <th field="Mobile2">手机号2    </th>
                </tr>
            </thead>
        </table>

        <div id="gridtb0">
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" data-bind="click:'addRow0Click',disable:'readonly'">选择活动经销商</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" data-bind="click:'removeRow0Click',disable:'readonly'">删除</a>
        </div>
    </div>
</div>
