@section scripts {
<script type="text/javascript">
    var data = @MvcHtmlString.Create(JsonExtension.ToJson(Model));
    $(function(){
        var db = fruit.databind.root;
        data.form._row_state = @ViewBag.RowState;
        db.loadData(data);
        function loadDetial(){
        }
        loadDetial();
        $.extend(db, {
            refreshClick:function(){
                location.assign(top.$(window.frameElement).data('src'));
            },
            rejectClick:function(){
                location.assign(top.$(window.frameElement).data('src'));
            },
            newClick:function(){
                fruit.ajax({
                        url:'/api/Project/Projectinfobid/NewFID',
                        success:function(data) {
                            parent.changeDocTab(window.frameElement, '/Project/Projectinfobid/edit/' + data);
                        }
                    })
            },
            deleteClick:function(){
                $.messager.confirm('确认', '您确认要删除当前记录吗？', function(r){
                    if(r){
                        fruit.ajax({
                            method:'DELETE',
                            url: '/api/Project/Projectinfobid/'+db.getData('form').FID,
                            success: function(data) {
                                fruit.message('success', '删除成功');
                                top.closeDocTab(window.frameElement);
                            }
                        });
                    }
                });
            },
            saveClick:function(){
                if(!db.validate()){fruit.message('error', '请更正验证错误！'); return;}
                var data = db.getData();
                fruit.ajax({
                    url: '/api/Project/Projectinfobid/',
                    data: JSON.stringify(data),
                    success:function(result){
                        if(result && result.success){
                            fruit.message('success', '保存成功');
                            if(result.form){
                                db.loadData(result);
                                loadDetial();
                            }
                        }
                    }
                });
            }
        });
    });
</script>
}


<div class="z-toolbar">
    <a id="a_save" href="#" plain="true" class="easyui-linkbutton" icon="icon-save" data-bind="click:'saveClick',disable:'readonly'" title="保存">保存</a>
    <a id="a_undo" href="#" plain="true" class="easyui-linkbutton" icon="icon-undo" data-bind="click:'rejectClick',disable:'readonly'" title="撤消">撤消</a>
    <div class="datagrid-btn-separator"></div>
    <a id="a_other" href="#" class="easyui-splitbutton" data-options="menu:'#divother',iconCls:'icon-application_go'" title="其他">其他</a>
</div>

<div id="divother" style="width:100px; display:none;">
    <div data-options="iconCls:'icon-add'" data-bind="click:'newClick'">新增</div>
    <div data-options="iconCls:'icon-cross'" data-bind="click:'deleteClick'">删除</div>
    <div data-options="iconCls:'icon-arrow_refresh'" data-bind="click:'refreshClick'">刷新</div>
</div>

<div id="divrelations" style="width:100px; display:none;"></div>
<div id="master" class="container_12" data-bind="inputwidth:0.9">
<input type="hidden" data-bind="value:'form._row_state'" />
<input type="hidden" data-bind="value:'form.FID'" />
    <div class="grid-group-1"><div class="lbl">项目编号</div>
   <div class="val">
<input type="text" data-bind="value:'form.Code'" class="z-txt easyui-numberbox" data-options="required:true" /></div></div>
    <div class="grid-group-1"><div class="lbl">项目名称</div>
   <div class="val">
<input type="text" data-bind="value:'form.ProjName'" class="easyui-validatebox z-txt" data-options="required:true" /></div></div>
    <div class="grid-group-1"><div class="lbl">合作单位</div>
   <div class="val">
<input type="text" data-bind="value:'form.CustID'" class="easyui-validatebox z-txt" data-options="required:true" /></div></div>
    <div class="grid-group-1"><div class="lbl">报建编号</div>
   <div class="val">
<input type="text" data-bind="value:'form.appNumber'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">业主单位</div>
   <div class="val">
<input type="text" data-bind="value:'form.Owner'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">工程总投资</div>
   <div class="val">
<input type="text" data-bind="value:'form.totalInvAmt'" class="z-txt easyui-numberbox" data-options="required:true,precision:2" /></div></div>
    <div class="grid-group-1"><div class="lbl">保证金</div>
   <div class="val">
<input type="text" data-bind="value:'form.depAmt'" class="z-txt easyui-numberbox" data-options="required:true,precision:2" /></div></div>
    <div class="grid-group-1"><div class="lbl">保证金状态</div>
   <div class="val">
<input type="text" data-bind="value:'form.depAmtStatus'" class="easyui-validatebox z-txt" data-options="required:true" /></div></div>
    <div class="grid-group-1"><div class="lbl">垫付(万元）</div>
   <div class="val">
<input type="text" data-bind="value:'form.advAmt'" class="z-txt easyui-numberbox" data-options="required:true,precision:2" /></div></div>
    <div class="grid-group-1"><div class="lbl">标书费（元）</div>
   <div class="val">
<input type="text" data-bind="value:'form.bookAmt'" class="z-txt easyui-numberbox" data-options="required:true,precision:2" /></div></div>
    <div class="grid-group-1"><div class="lbl">开标费（元）</div>
   <div class="val">
<input type="text" data-bind="value:'form.bidAmt'" class="z-txt easyui-numberbox" data-options="required:true,precision:2" /></div></div>
    <div class="grid-group-1"><div class="lbl">代办费（元）</div>
   <div class="val">
<input type="text" data-bind="value:'form.agencyAmt'" class="z-txt easyui-numberbox" data-options="required:true,precision:2" /></div></div>
    <div class="grid-group-1"><div class="lbl">项目负责人</div>
   <div class="val">
<input type="text" data-bind="value:'form.PManager'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">开标时间</div>
   <div class="val">
<input type="text" data-bind="value:'form.bidDate'" class="easyui-validatebox z-txt" data-options="required:true" /></div></div>
    <div class="grid-group-1"><div class="lbl">开标地点</div>
   <div class="val">
<input type="text" data-bind="value:'form.bidAddress'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">开标人</div>
   <div class="val">
<input type="text" data-bind="value:'form.bidPerson'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">招标代理</div>
   <div class="val">
<input type="text" data-bind="value:'form.bidAgent'" class="easyui-validatebox z-txt" data-options="required:true" /></div></div>
    <div class="grid-group-1"><div class="lbl">特殊要求</div>
   <div class="val">
<input type="text" data-bind="value:'form.Attention'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">中标单位</div>
   <div class="val">
<input type="text" data-bind="value:'form.Winner'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">备注</div>
   <div class="val">
<input type="text" data-bind="value:'form.Remark'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
</div>
<div id="tt" class="easyui-tabs">
    <div title="表单信息" style="padding-top:2px;">
        <div class="container_12" id="BillDetail" data-bind="inputwidth:0.9,autoheight:181">
    <div class="grid-group-1"><div class="lbl">创建人</div>
   <div class="val">
<input type="text" data-bind="value:'form.CreatePerson'" class="easyui-validatebox z-txt" data-options="required:false" /></div></div>
    <div class="grid-group-1"><div class="lbl">创建时间</div>
   <div class="val">
<input type="text" data-bind="value:'form.CreateDate'" class="easyui-validatebox z-txt" data-options="required:true" /></div></div>
    <div class="grid-group-1"><div class="lbl">最近一次更新时间</div>
   <div class="val">
<input type="text" data-bind="value:'form.UpdateDate'" class="easyui-validatebox z-txt" data-options="required:true" /></div></div>
        </div>
    </div>
</div>
